.header {
  background-color: rgb(61, 98, 185);
  padding: 10px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-wrap: wrap; 
  width: 100%;
}

.header h3 {
  margin: 0;
  font-size: 22px;
  flex: 1;
}

.header a {
  color: white;
  font-size: 22px;
  margin-left: 13px;
  text-decoration: none;
  transition: 0.3s;
  margin-right:30px;
}

.header a:hover {
  color: #ffd700; 
}

/* Tablets (portrait, landscape) */
@media (max-width: 1024px) {
  .header h3 {
    font-size: 20px;
  }
  .header a {
    font-size: 20px;
    padding-left: 12px;
  }
  .icons{
    margin-right: 20px;
  }
}
/* laptop (portrait, landscape) */
@media (max-width: 1440px) {
  .header h3 {
    font-size: 20px;
  }
  .header a {
    font-size: 20px;
    padding-left: 12px;
  }
}
/* Mobile devices */
@media (max-width: 768px) {
  .header {
    flex-direction: row;
    text-align: left;
  }
  .header h3 {
    margin-bottom: 10px;
    font-size: 18px;
        margin-left: 0px;
        padding-left:5px ;

  }
  .header a {
    margin: 5px;
    font-size: 18px;
    margin-left: 0px;
  }
  
}
/* Small phones */
@media (max-width: 320px) {
  .header {
    flex-direction: row;
    text-align: left;
  }
  .header h3 {
    font-size: 16px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .header a {
    font-size: 16px;
    flex-direction: row;
  }
}

/* <!--Navigation bar and button-->  */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 2px 3px;
  flex-wrap: wrap;
  padding-left: 0px;
}

.navigation h1 {
  margin: 0;
  margin-right: 200px;
  margin-left: 0px;
  padding-left: 0px;
}

.icon {
  color: rgb(65, 65, 255);
  margin-top: 10px;
  margin-left: 0px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav li {
  list-style-type: none;
  font-size: 18px;
  position: relative;
}

.nav li a {
  color: black;
  padding: 3px 3px;
  text-decoration: none;
  display: inline-block;
}

.nav li a:hover {
  background-color: white;
  color: rgb(65, 65, 255);
  border-radius: 6px;
}

/* Button */
.button {
  color: white;
  background-color: rgb(65, 65, 255);
  border-radius: 10px;
  font-size: 15px;
  padding: 8px 16px;
  border: 0;
  margin-left: 10px;
  width: 150px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.button:hover {
  background-color: rgb(45, 45, 200);
}

/* Dropdown */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 180px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 100;
}

.dropdown ul {
  margin: 0;
  padding: 0;
}

.dropdown ul li {
  display: block;
}

.dropdown ul li a {
  color: rgb(65, 65, 255);
  padding: 10px;
  display: block;
}

.nav li:hover .dropdown {
  display: block;
}

/* ===== Responsive Breakpoints ===== */

/* Big screens (1400px) */
@media (min-width: 1400px) {
  .navigation {
    padding: 20px 10px;
  }
  .nav li a {
    font-size: 20px;
  }
  .button {
    font-size: 17px;
    width: 220px;
  }
}

/* Laptops (1025px – 1399px) */
@media (max-width: 1399px) and (min-width: 1025px) {
  .navigation h1 {
    margin-right: 10px;
  }
  .nav li a {
    font-size: 18px;
  }
  .button {
    width: 180px;
  }
}

/* Tablets (768px – 1024px) */
@media (max-width: 1024px) and (min-width: 769px) {
  .navigation {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .nav {
    margin-top: 10px;
  }
  .nav li {
    display: block;
    margin: 5px 0;
  }
  .button {
    width: auto;
    margin-top: 5px;
  }
}

/* Mobile (767px) */
@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 0px;
  }
  .navigation h1{
    margin-left: 0px;
    padding-left:0px;
    float:left;
    display: inline;
  }

  .nav {
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 0px;
    padding-right: 5px; 
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav li a{
    display: inline;
    margin: 5px 0;
    margin-right: 10px;
    justify-content: space-evenly;
    margin-left:10px;
    text-align: center;
  }

  .navigation.active .nav {
    display: flex; 
  }

  .button {
    width: 150px;
    margin-top: 10px;
  }
}
@media (max-width: 320px) {
  .navigation {
    flex-direction: column;
    align-items: left;
    margin-left: 0px;
    margin-right: 10px;
    font-size: 10px;
  }

  .nav {
    flex-direction: row;
    margin-bottom: 20px;
    padding-left: 0px;
    padding-right: 1px; 
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    font-size: 5px;
    justify-content: space-evenly;
  }

  .nav li a{
    font-size: 10px;
  color: black;
  padding: 2px 2px;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
  width:2px;
  justify-content: space-evenly;
  }

  .navigation .nav {
    display: flex; 
    width:320px;
  }

  .button {
    width: 70px;
    margin-top: 10px;
    font-size: 8px;
    justify-content: space-evenly;
  }
}

/* <!--image with text--> */

.co {
  position: relative;
  text-align: center;
  color: white;
}

.co img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: brightness(30%);
  box-shadow: 0px 0px 47px 14px rgba(0, 0, 0, 0.46);
  border-radius: 10px;
}

/* Overlay container */
.co .overlay {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1000px;
  text-align: center;
  padding: 20px;
}

/* Heading */
.co h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

/* Paragraph */
.co p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Button */
.co a {
  color: rgb(65, 65, 255);
  background: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 12px 30px;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.co a:hover {
  color: white;
  background: rgb(65, 65, 255);
  border-color: white;
}

/* --- Responsive breakpoints --- */

/* Tablet */
@media (max-width: 991px) {
  .co h2 {
    font-size: 36px;
  }
  .co p {
    font-size: 16px;
    width: 100%;
  }
  .co a {
    font-size: 16px;
    padding: 10px 20px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .co img {
    height: 350px;
  }
  .co h2 {
    font-size: 26px;
  }
  .co p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .co a {
    display: block;
    width: 100%;
    padding: 12px;
  }
}

/* <!--offices--> */

.offices{
        width:400px;
        text-align: left;
        margin-top: 450px;
        background-color: white;
        color:black;
        margin-left: 80px;
        border-radius: 50px;
    }
    .offices h2{
     margin-left: 20px;
     padding:10px
    }
    .offices p{
        margin-left: 30px;
        padding:0px;
        text-align: left;
    }
    .offices h4{
        margin-left:30px;
    }
    .icon-website {
        margin-left: 25px;
        margin-top: 60px;
        font-size: 30px;
       padding:3px;
    }
    /* contact-us */
.contact-us{
    margin-right: 20px;
    color:black;
    width:400px;
    text-align: left;
    margin-top: -455px;
    background-color: white;
    margin-left: 650px;
    border-radius: 50px;
}
.contact-us h2{
    padding-top:20px;
    margin-left: 30px;
}
.contact-lbl{
    margin-left: 30px;
}
.contact-lbl input{
border-radius: 8px;
padding-top:10px;
padding-bottom: 10px;
}
.contact-lbl input[type=text]{
    width:90%;
    box-sizing: border-box;
    border: none;
    margin:2px 0;
    border-bottom: 1px solid black;
    border-radius: 0px;
}
.contact-lbl input[type=email]{
    width:90%;
    box-sizing: border-box;
    border: none;
    margin:2px 0;
    border-bottom: 1px solid black;
    border-radius: 0px;
}
.contact-lbl input[type=number]{
    width:90%;
    box-sizing: border-box;
    border: none;
    margin:2px 0;
    border-bottom: 1px solid black;
    border-radius: 0px;
}
.contact-lbl text[areaname]{
    width:90%;
    box-sizing: border-box;
    border: none;
    margin:2px 0;
    border-bottom: 1px solid black;
    border-radius: 0px;
}
.contact-lbl textarea{
    width:90%;
    height:100px;
    padding:10px;
    border-radius: 4px;
    font-size: 14px;
    resize:none;
    width:80%;
}
.send{
    background-color:rgb(65, 65, 255);
    color:white;
    font-size: 20px;
    border-radius: 30px;
    padding:8px;
    text-decoration: none;
    margin-left: 10px;
    width:80%;
    text-align: center;
    padding-right:7px;
    margin-top: 20px;
}
/*Responsive Breakpoints */

/* Mobile (up to 767px) */
@media (max-width: 767px) {
  .offices{
    width:300px;
    position:relative;
    flex-direction:row ;
    margin-left:10px;
    margin-top: -40px;
    height:500px;
    z-index:2;
  }
  .review{
    height:1900px;
  }

  .contact-us{
     width:300px;
    position:absolute;
    flex-direction:row ;
    margin-left:10px;
    margin-top: 10px;
    height:530px;
  }
}

/* Tablet (768px–1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .offices{
    width:300px;
    margin-left:10px;
    margin-top: -100px;
    height:530px;
    position:relative;

  }
  .review{
    height:1100px;
  }
  .contact-us{
     width:300px;
    margin-left:400px;
    margin-top: -550px;
    height:530px;
    position:relative;
  }
  
}

/* Laptop/Desktop (1024px and up) */
@media (min-width: 1024px) {
  .offices{
    width:400px;
    margin-left:30px;
    margin-top: -70px;
    height:530px;
    position:relative;
  }
  .review{
    height:700px;
  }

  .contact-us{
     width:400px;
    margin-left:550px;
    margin-top: -550px;
    height:530px;
    position:relative;
  }
}
@media (min-width: 1440px) {
  .offices{
    width:400px;
    margin-left:150px;
    margin-top: -150px;
    height:530px;
  }
  .review{
    height:700px;
  }

  .contact-us{
     width:400px;
    margin-left:750px;
    margin-top: -550px;
    height:530px;
  }
}

/* <!-- Footer --> */
.footer {
  background-color: rgb(47, 45, 45);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 20px;
  margin-top: -50px; 
  width: 100%;
}

.footer h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: orange;
}

.footer p {
  font-size: 14px;
  line-height: 1.6;
}

/* Roofing */
.roofing {
  flex: 1 1 300px;
  max-width: 400px;
}

.roofing p {
  word-spacing: 4px;
}

/* Contact Info */
.contact-info {
  flex: 1 1 250px;
  max-width: 350px;
}

.contact-info i {
  color: rgb(65, 65, 255);
  margin-right: 10px;
}

.contact-info div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Links */
.links {
  flex: 1 1 200px;
  max-width: 300px;
}

.all-links a {
  display: block;
  font-size: 16px;
  color: white;
  text-decoration: none;
  margin: 2px 0;
  transition: 0.3s;
}

.all-links a:hover {
  color: rgb(65, 65, 255);
}

/* Mobile (up to 320px) */
@media (max-width: 320px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: inline-block;
    margin-top: 600px;
  }

  .roofing, .contact-info, .links {
    max-width: 100%;
    padding: 10px;
    margin: 0;
  }

  .contact-info div {
    justify-content: center;
  }
}


/* Tablet (768px – 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    justify-content: center;
    margin-top: 300px;
  }

  .roofing, .contact-info, .links {
    flex:auto auto auto;  
    max-width: 30%;
  }
}

/* Laptop/Desktop (1024px and above) */
@media (min-width: 1024px) {
  .footer {
    justify-content: space-between;
    margin-top: 300px;

  }

  .roofing, .contact-info, .links {
    flex: 1 1 30%;   
    max-width: 30%;
  }
}